*{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:normal;}
a{text-decoration:none;color:inherit;}
strong,b{font-weight:none;}
i,em,address{font-style:normal;}
html{
     font-family: 'Noto Sans KR', sans-serif;
     font-size: 20px
}
.container{
     width:980px;
     margin:0 auto;
}
.container h2{
    font-weight:600;
    margin-top:40px;
    margin-bottom:35px;
    font-size:22px;
}
.container p{
    margin-bottom:35px;
}
.container .mb100{
    margin-bottom:100px;
}

@font-face {
    font-family:"풀무원";
    src: url(../../../폰트/PulmuoneLOHASBold.woff);
}
.container .sign{
    font-family:"풀무원";
    font-size:30px;
    font-weight:bold;
    margin-top:70px;
    margin-bottom:35px;
}