@media (max-width:768px){
     /* layout */
.contents_wrap{}
.pc{display: none;}
/* header */
header.mo{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 54px;
    z-index: 1000;
}
.innerHeader{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btnMoMenu{
    width: 6.4vw;
    height: 6.4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}
.btnMoMenu > span{
    width: 100%;
    height: 2px;
    background: #fff;
    display: block;
    margin: 3px 0;
}
.btnMenuLang{
    width: 6.4vw;
    height: 6.4vw;
}
.btnMenuLang img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.moLogo{
    width: 31.47vw;
    max-width: 230px;
}
.moLogo a img{
    width: 100%;
}
/* mobile menu */
.moMenu{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2000;
    pointer-events: none;
}
.moMenu.show .blackcover{
    opacity: 0.8;
    pointer-events: auto;
}
.moGnb{
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    width: 75%;
    max-width: 310px;
    min-width: 290px;
    height: 100%;
    /* overflow: auto; */
    transform: translateX(-100%);
    transition: all 0.5s ease 0.1s;
}
.moMenu.show .moGnb{
    transform: translateX(0%);
}
.logoMo{
    width: 31.47vw;
    max-width: 230px;
    margin: 0 auto;
    margin-top: 22px;
    margin-bottom: 42px;
}
.logoMo img{
    width: 100%;
}
.blackcover{
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s ease 0s;
    pointer-events: none;
}
.mobileMenuList ul{
    /* display: none; */
    margin-top: 14px;
    padding-left: 10px;
}
.mobileMenuList ul > li{
    color: #9a9a9a;
    font-weight: 400;
    margin-bottom: 8px;
}
.mobileMenuList ul > li:last-of-type{margin-bottom: 0;}
.mobileMenuList{
    width: 90%;
    margin: 0 auto;
    height: calc(100% - 130px);
    overflow: auto;
}
.mobileMenuList > li{
    font-size: 1.12rem;
    font-weight: bold;
    position: relative;
}
.mobileMenuList > li>a{
    display: block;
    padding: 12px 0;
    border-bottom: 1px solid #ccc;
}
.mobileMenuList > li::after {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    border: 1px solid #000;
    opacity: 0.7;
    right: 20px;
    top: 10px;
    border-right: none;
    border-top: none;
    transform: rotate(-45deg);
}


/* main */
main{position: relative;}
.videoBanner{
    height: 60vh;
    position: relative;
}
.videoBanner::after{
    content: "";
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height:100%;
    background: rgba(0, 0, 0, 0.2);
}
.videoBanner video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.videoBanner> .flotingTxt{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    z-index: 100;
    text-align: center;
    width: 74vw;
}
.flotingTxt>h2{
    margin-bottom: 50px;
    width: 100%;
}
.flotingTxt>h2 img{width: 100%;}
.flotingTxt>a{
    padding: 3vw 13vw;
    background: rgba(255, 255, 255, 0.391);
    display: inline-block;
    color: #fff;
    font-size: 1.2rem;
    border-radius: 4px;
}

/* news */
.news{
    width: 90%;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 100px;
}
.news>h3{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 26px;
}
.news ul{
    display: flex;
}

.news ul>li h4{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 16px;
}
.news .swiper-pagination{
    position: relative;
    margin-top: 50px;
}
.date{
    font-size: 10px;
    color: #9a9a9a;
    margin-bottom: 28px;
}

/* culture */
.culture{
    width: 100%;
    position: relative;
    transition: all 0.5s ease 0s;
    margin-bottom: 160px;
}

.culture>ul>li{
    overflow: hidden;
    position: relative;
    height: 220px;
    margin-bottom: 1px;
}
.culture>ul>li>a{
    display: block;
    height: 100%;
}
.culture>ul>li>a>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.flotingBox{
    position: absolute;
    left: 50%; top: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    color: #fff;
}
.flotingBox>h4{
    font-size: 22px;
    font-weight: bold;  
    margin-bottom: 18px;
}
.flotingBox>p{
    padding-top: 30px;
    position: relative;
}
.flotingBox>p::after{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    width: 30px;
    height: 1px;
    background: #fff;
}
.culture>ul>li.on >a>p{display: block;}


/* notice */
.notice{
    width: 90%;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 100px;
}
.notice>ul{display: flex;}
.notice>ul>li {
    height: 100%;
    margin-bottom: 100px;
}
.notice li figure{
    height: 190px;
    overflow: hidden;
}
.notice>ul>li figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.notice>ul>li p{
    margin:20px 0;
    font-size: 12px;
}
.notice>ul>li h4{
    font-size: 15px;
    font-weight: bold;
}
.notice .swiper-pagination{
    position: relative;
    margin-top: 30px;
}
.notice .notice-pagination{
    position: relative;
}

span.swiper-pagination-bullet-active {
    background: #000;
}


/* footer */
footer{margin-top: 100px;}
footer .footMenu1{
    padding-top: 30px;
    border-top: 1px solid #ebebeb;
}
.footMenu1>ul{
    width: 90%;
    justify-content: space-between;
    margin: 0 auto;
}
.footMenu1>ul>li{   
    overflow: hidden;
    height: 50px;
}
.footMenu1>ul>li>a{
    font-weight: bold;
    font-size: 1.12rem;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
}
.footMenu1>ul>li>a::after{
    content: "";
    width: 24px;
    height: 24px;
    background: url(../img/icn_cm_plus.svg) no-repeat 50% 50%;
    background-size: contain;
    transition: all 0.5s ease 0s;
}
.footMenu1>ul>li.on>a::after{
    transform: rotate(45deg);
}
.footMenu1>ul>li>ul{
    color: #9a9a9a;
    font-size: 0.9rem;
}
.footMenu1>ul>li>ul>li{
    height: 35px;
    display: flex;
    align-items: center;
}
.footMenu2{padding-bottom: 75px;}
.footMenu2>ul{
    width: 90%;
    margin: 0 auto;
}
.footMenu2>ul>li{
    font-size: 1.12rem;
    font-weight: bold;
    height: 50px;
    display: flex;
    align-items: center;
}
.footMenu2>ul>li.blue{color: #3774DA;}

.coInfo{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    padding: 26px 0;
}
.footLogo img{
    width: 120px;
    margin-right: 30px;
}
.footLogo{
    text-align: center;
    padding: 10px 0;
}
.copy{color: #9a9a9a;}
.snsMenu{
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    padding: 10px 0;
}
.snsMenu>ul{
    display: flex;
    justify-content: center;
}
.snsMenu>ul>li{
    width: 38px;
    margin: 0 5px;
}
.snsMenu>ul>li img{width: 100%;}
.snsMenu>ul>li img:hover{opacity: 0.5;}
.snsMenu>ul>li img:last-of-type{margin-right: 10px;}
}